/*! Start Global Rules  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:root{
    --main-color: #10cab7;
	--secondary-color:#2c4755;
	--section-bg:#f6f6f6;
	--section-padding:60px;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: "Work Sans", sans-serif;
	font-size: 16px;

}
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/*? Small */
@media (min-width: 768px){
	.container{
		width: 750px;
	}
}
/*? Medium */
@media (min-width: 992px){
	.container{
		width: 970px;
	}
}
/*? large */
@media (min-width:1200px){
	.container{
		width: 1170px;
	}
}
/*! End Global Rules  */
/*! Start Component  */
.special-heading{
	color: #ebeced;
	font-size: 6rem;
	text-align: center;
	font-weight: 800;
	margin: 0;
	letter-spacing: 5px;
}
.special-heading + p{
	margin: -25px 0 0 ;
	text-align:  center;
	font-size: 1.2rem;
	color: #777;
}
@media (max-width:769px) {
	.special-heading{
		font-size: 3.5rem
	}
	.special-heading + p{
		font-size: .8rem;
		margin-top: -20px;
	}
}
/*! End Component  */


/** Start Header  */
.header{
	padding: 20px;
}
.header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .logo{
	width: 100px;
}
.header .links{
	position: relative;
}
.header .links .icon{
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
    /* display: none; */
	cursor: pointer;
}
.header .links:hover .icon span:nth-child(2){
  width: 100%;
}
.header .links .icon span{
	background-color: #222;
	margin-bottom: 5px;
	height: 3px;
}

.header .links .icon span:first-child{
	width: 100%;
}
.header .links .icon span:nth-child(2){
	width: 60%;
	transition: .3s;
}
.header .links .icon span:last-child{
	width: 100%;
}

.header .links ul{
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: var(--section-bg);
	position: absolute;
	right: 0;
	min-width: 200px;
	top: 130%;
	height: max-content;
	display: none;
	z-index: 999;
}
.header .links ul:before{
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent var(--section-bg) transparent;
	position: absolute;
	right: 5px;
	top: -19px;
}
.header .links:hover ul{
	display: block;
}
.header .links ul li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	color: #333;
	transition: .3s;
}
.header .links ul li a:hover{
	/* margin-left: 10px; */
	background-color: var(--main-color);
	/* color: #fff; */
	font-size: 1.1rem;
	font-weight: 500;
	color: #fff;
}

.header .links ul li:not(:last-child) a{
	border-bottom:solid 1px #333;
}

/** End Header  */

/*? Start landing */
.landing{
	width: 100%;
	height:calc(90vh - 6px);
	background: url(/assets/image/mountain2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.landing .intro-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	text-align: center;
	width: 350px;
	max-width: 100%;
}
.landing .intro-text h1{
	margin: 0;
	color: var(--main-color);
	font-size: 50px;
}
.landing .intro-text p{
	font-size: 19px;
	line-height: 1.8;
	color: #333;
	font-weight: 500;
}
/*? End landing */
/*? start Features */
.features{
	padding-bottom:  var(--section-padding);
	padding-top:  var(--section-padding);
}
.features .container{
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}
.features  .feat{
    padding: 20px;
	text-align: center;
    background-color: var(--section-bg);
}
.features .container .feat i{
	font-size: 30px;
	color: var(--main-color);
}
.features .container .feat h3{
	color: #333;
	font-weight: 800;
	margin: 30px 0;
}
.features .container .feat p{
	line-height: 1.6;
	color: #777;
	font-size: 17px;
}
/*? End Features */

/*? Start Services */
.services{
	padding-top:  var(--section-padding);
	padding-bottom:  var(--section-padding);
}
.services .services-content{
	display: grid;
	grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
	gap: 20px;
}
.services .services-content .srv{
	width: 100%;
	display: flex;
	align-items:flex-start;
	margin-top: 50px;
}
@media (max-width:767px) {
	.services .services-content .srv{
		flex-direction: column;
		text-align: center;
	}
}
.services .services-content .srv i{
	width: 100%;
	margin-top: 30px;
	font-size: 30px;
	color: var(--main-color);
}

.services .services-content .srv h3{
	color: #333;
	margin:30px 0;
	font-weight: 800;
}
.services .services-content .srv p{
	font-size: 1rem;
	line-height: 1.5;
	color: #777;
}


.services .services-content .image{
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 90px;

}
.services .services-content .image::before{
	content: "";
	background-color: var(--secondary-color);
	position: absolute;
	width: 80px;
	height:calc(100% + 80px);
	top: -40px;
	right: 0;
	place-content: center;
	z-index: -1;
}
@media (max-width: 767px) {
	.services .services-content .image::before{
		right: 20px;
	}
}
@media (max-width: 1000px) {
	.image-meduim{
		display: none;
	}
}
.services .services-content .image img{
	width: 260px;
	height: 350px;
	
}

/*? End Services */
/*? Start Portfolio */
.portfolio{
	padding-top:  var(--section-padding);
	padding-bottom:  calc(var(--section-padding) + 60px);
	background: var(--section-bg);
}
.portfolio .container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio .container .projects{
	display: grid;
	grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
	gap: 30px;
	margin-top: 100px;
	width: 100%;
}
.portfolio .container .projects .project{
	width: 100%;
	background-color: #fff;
}
.portfolio .container .projects .project img{
	width: 100%;
}
.portfolio .container .projects .project h3 {
	padding:0 20px;
	color: #333;
	font-weight: 800;
}
.portfolio .container .projects .project p{
	color: #777;
	padding:0 20px;
	line-height: 1.5;
	font-size: .9rem;
	margin-bottom: 20px;
}

.portfolio .container .btn{
	padding: 12px 20px;
	border: none;
	background: var(--secondary-color);
	color: #fff;
	font-weight: 600;
    border-radius: 8px;
	margin-top: 40px;
	cursor: pointer;
	transition: .3s ease;
}
.portfolio .container .btn:hover{
	background: var(--main-color);
}


/*? End Portfolio */
/*? Start Aboub */
.about{
	padding-top:  var(--section-padding);
	padding-bottom: calc(var(--section-padding) + 40px);
}
.about  .about-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 100px;
}

@media (max-width: 1000px) {
	.about .about-content .image:before,
	.about .about-content .image::after{
		display: none;
	}
	.about .about-content .image{
		margin: 0 auto 60px;
	}
	
	.about .container .about-content{
		flex-direction: column;
		text-align: center;
	}
}


.about .about-content .image{
	position: relative;
    width: 250px;
	height: 375px;
}
.about .about-content .image img {
	width: 100%;
}
.about .about-content .image:before{
	content: "";
	width: 80px;
	height: calc(100% + 80px);
	position: absolute;
	background: #ebeced;
	left: -10px;
	top: -40px;
	z-index: -1;
}
.about .about-content .image::after{
	content: "";
	width: 80px;
	height: 250px;
	position: absolute;
	border-left: 90px solid var(--main-color);
	border-bottom: 80px solid var(--main-color);
	left: 200px;
	top: -40px;
	z-index: -1;
}
.about .container .about-content .text{
	flex-basis: calc(100% - 500px);
}
.about .container .about-content .text p:first-child{
	font-weight: 800;
	line-height: 2;
}
.about .container .about-content .text hr{
	border: 2px solid var(--main-color);
	display: inline-block;
	width: 50%;
	margin-bottom: 20px;
	margin-top: 40px;
}
.about .container .about-content .text p:last-child{
	line-height: 1.7;
}
/*? End Aboub */
/*? Start Contact */
.contact{
	padding-top:  var(--section-padding);
	padding-bottom: calc(var(--section-padding) + 60px);
	background: var(--section-bg);
}
.contact .info{
	padding-top:  var(--section-padding);
	padding-bottom: var(--section-padding);
	/* text-align: center; */
}
.contact .info .label{
	color: var(--secondary-color-color);
	font-size: 3rem;
	font-weight: 800;
	letter-spacing: -1px;
	margin-bottom: 20px;
}
.contact .info .link{
	display: block;
	text-decoration: none;
	color: var(--main-color);
	font-size: 2.5rem;
	font-weight: 800;
	margin-bottom: 5px;
	margin-left: 30px;
}
@media (max-width :767px) {
	.contact .info{
	text-align: center;
   }
	.contact .info .label{
		font-size: 1.6rem;
	}
	.contact .info .link{
		font-size: 1.5rem;
		margin-left: 0;
	}
	.contact .info .social-links{
		flex-direction: column;
	}
}
@media (min-width :769px){
	.contact .info .social-links{
		margin-left: 80px;
	}
}
.contact .info .social-links{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 30px;
}

.contact .info .social-links p{
	font-size: 1.1rem;
}
.contact .info .social-links .icons{
	display: flex;
	gap: 20px;
}
.contact .info .social-links .icons i{
	font-size: 30px;
}
/*? End Contact */ 
/*? Start Footer */ 
.footer{
	background-color: var(--secondary-color);
	padding: 30px 10px;
	color: #fff;
	text-align: center;
	font-weight: 600;
	font-size: .9rem;
}
.footer span{
	color: var(--main-color);
	font-weight: 800;
}
/*? End Fotter */ 
